.signup-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/wall.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.signup-box {
    margin: 0 40vw;
    position: absolute;
    width: 300px;
    top: 25vh;
    padding: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    border-radius: 10px;
}

.signup-header {
    padding: 10px;
    font-size: 4vh;
    text-align: center;
}

.signup-form form {
    display: flex;
    flex-direction: column;
}

.signup-form form input {
    margin: 5px;
    border: unset;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    padding: 2px;
}

.signup-form form button {
    margin: 5px;
}


.signup-google-oath {
    padding: 5px;
    /* position: relative; */
    text-align: center;
}