.post-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('../images/wall.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#feed-posts {
    width: 67%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #bedcfa;
    margin: 10px;
    border-radius: 5px;
    opacity: 0.95;
    position: relative;
    top: 10%;
}

.post-head {}

#feed-posts form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#feed-posts form .post-btn {
    width: 10vh;
    padding: 2px;
    position: absolute;
    bottom: 5%;
    right: 7%
}

input {
    width: 100%;
}

textarea {
    resize: none;
}