<!-- CHANGE :: Creat the code for chat box -->
<% if (locals.user){ %>
<div class="chat-box-container">
  <div id="user-chat-box">
    <ul id="chat-messages-list">
      <li class="other-message">
        <span>Other Message</span>
      </li>
      <li class="self-message">
        <span> Self Message </span>
        <sub style="color: aqua"></sub>
      </li>
    </ul>
    <div id="chat-message-input-container">
      <input
        id="chat-message-input"
        placeholder="Type message here"
        onfocus="this.value=''"
      />
      <button id="send-message">Send</button>
    </div>
  </div>
</div>

<% } %>
