<link rel="stylesheet" href="/css/index.css" />
<div class="index-container">
  <div class="inner-container">
    <div class="index-header">
      <img src="/images/nurd.png" style="width: 100%" />
    </div>
    <div
      class="index-intro"
      style="color: whitesmoke; opacity: 100%; font-size: medium"
    >
      A step to connect nerds all over the world.....
    </div>

    <div class="index-animation">
      <button
        onclick="location.href = '/users/sign-up';"
        class="btn btn-primary btn-lg"
      >
        Sign up
      </button>
      <button
        onclick="location.href = '/users/sign-in';"
        class="btn btn-primary btn-lg"
      >
        Sign in
      </button>
    </div>
  </div>
</div>
