<link rel="stylesheet" href="/css/chat_box.css" />
<link rel="stylesheet" href="/css/user-message.css" />
<div class="message-container"><%- include('_chat_box') -%></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if (locals.user){ %>
<script>
  new ChatEngine("user-chat-box", "<%= locals.user.email %>");
</script>
<% } %>
